<div id="filters">
    <a href="/listings">
        <div class="filter col">
            <div><i class="fas fa-th"></i></i></div>
            <p>View All</p>
        </div>
    </a>

    <a href="/listings/filter/trending">
        <div class="filter col">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
    </a>

    <a href="/listings/filter/room">
        <div class="filter col">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
    </a>


    <a href="/listings/filter/iconic-citie">
        <div class="filter col">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic Cities</p>
        </div>
    </a>


    <a href="/listings/filter/mountain">
        <div class="filter col">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
        </div>
    </a>


    <a href="/listings/filter/castle">
        <div class="filter col">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
        </div>
    </a>


    <a href="/listings/filter/pool">
        <div class="filter col">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing Pools</p>
        </div>
    </a>


    <a href="/listings/filter/camping">
        <div class="filter col">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>
    </a>


    <a href="/listings/filter/arctic">
        <div class="filter col">
            <div><i class="fa-regular fa-snowflake"></i></div>
            <p>Arctic</p>
        </div>
    </a>


    <a href="/listings/filter/farm">
        <div class="filter col">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
        </div>
    </a>


    <a href="/listings/filter/dome">
        <div class="filter col">
            <div><i class="fa-solid fa-igloo"></i></div>
            <p>Domes</p>
        </div>
    </a>


    <a href="/listings/filter/boat">
        <div class="filter col">
            <div><i class="fa-solid fa-ferry"></i></div>
            <p>Boats</p>
        </div>
    </a>
</div>